---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import About from '~/components/widgets/About.astro';
import Features2 from '~/components/widgets/Technologies.astro';
import Steps from '~/components/widgets/Steps.astro';
// import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Learn More', href: '/#about', icon: 'tabler:download' }}
    callToAction2={{ text: 'Blog', href: '/blog', icon: 'tabler:edit' }}
    image={{ src: 'https://github.com/engageintellect.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <span class="text-accent highlight"></span>@engageintellect
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold text-blue-500">Fullstack Web Developer</span> with a focus in</span
      >

      <span class="block mb-1 sm:hidden font-semibold text-blue-500 text-2xl">Fullstack Web Developer</span>
      Startups, Small Business, Sass Websites, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <About
    highlight="About"
    title="I'm Josh.👋"
    subtitle="Fullstack Developer, based in Orange County, CA."
    items={[
      [
        {
          title: 'UI/UX Design',
          description:
            'Good UI/UX design can enhance user experience, increase engagement, and ultimately lead to higher user satisfaction and loyalty',
          icon: 'ant-design:cloud-server-outlined',
        },
        {
          title: 'Project Management',
          description:
            'Good software project management can ensure timely delivery, optimal resource utilization, and improved collaboration among team members, resulting in successful project outcomes and client satisfaction.',
          icon: 'ant-design:cloud-server-outlined',
        },
      ],
      [
        {
          title: 'DevOps',
          description:
            'Effective DevOps practices can enable faster delivery of high-quality software, improved collaboration between development and operations teams, increased efficiency and automation, and ultimately better customer satisfaction and business outcomes.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Development',
          description:
            'Effective DevOps practices can enable faster delivery of high-quality software, improved collaboration between development and operations teams, increased efficiency and automation, and ultimately better customer satisfaction and business outcomes.',
          icon: 'ant-design:cloud-server-outlined',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->

  <!-- <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1558494949-ef010cbdcc31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3134&q=80',
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Get your project or website up and running in no time."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Design</span>',
        description:
          'Design the website or web application. This may includes wireframes, mockups, and prototypes. This is also the time to decide on a design language or theme for your project.',
        icon: 'tabler:brush',
      },

      {
        title: 'Step 2: <span class="font-medium">Plan</span>',
        description:
          'Project roadmap the website or web application. This may include a project plan, timeline, and budget.',
        icon: 'tabler:brush',
      },

      {
        title: 'Step 3: <span class="font-medium">Infrastructure</em>',
        description: 'Decide on the technology stack, database, schemas, APIs, CI/CD, and deployment strategy.',
        icon: 'tabler:server',
      },
      {
        title: 'Step 4: <span class="font-medium">Develop</span>',
        description: 'Start building the website or web application.',
        icon: 'tabler:code',
      },

      {
        title: 'Step 4: <span class="font-medium">Iterate</span>',
        description: 'Test and iterate on the design and functionality of the website or web application.',
        icon: 'tabler:refresh',
      },

      {
        title: 'Deploy!',
        description: 'Deploy the website or web application to the web or your companies intranet.',
        icon: 'tabler:rocket',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3132&q=80',
      // src: 'https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technologies"
    subtitle="These are the technologies I use the most to build my projects."
    highlight="Skills"
    items={[
      {
        title: 'Next.js',
        description:
          'A versatile React framework for building performant server-side rendered and statically generated web applications with seamless integration with popular web technologies.',
        icon: 'teenyicons:nextjs-solid',
        url: 'https://nextjs.org/',
      },
      {
        title: 'React',
        description:
          'A popular JavaScript library for building user interfaces with reusable components and a virtual DOM, backed by a vast ecosystem of tools and resources.',
        icon: 'logos:react',
        url: 'https://reactjs.org/',
      },
      {
        title: 'Sveltekit',
        description:
          'A lightweight and fast web framework for building server-rendered and static sites with Svelte, offering intuitive development and easy deployment.',
        icon: 'vscode-icons:file-type-svelte',
        url: 'https://kit.svelte.dev/',
      },
      {
        title: 'Astro',
        description:
          'A modern static site generator that combines performance, flexibility, and simplicity, enabling developers to build dynamic sites with modern web technologies.',
        icon: 'vscode-icons:file-type-astro',
        url: 'https://astro.build/',
      },
      {
        title: 'PlanetScale',
        description:
          'A cloud-native database platform that provides scalable, resilient, and globally distributed databases with native support for MySQL, ideal for modern web applications.',
        icon: 'vscode-icons:file-type-mysql',
        url: 'https://planetscale.com/',
      },
      {
        title: 'GraphQL',
        description:
          'A query language and runtime for APIs that enables efficient and flexible data fetching, type safety, and powerful tools for client-side development.',
        icon: 'vscode-icons:file-type-graphql',
        url: 'https://graphql.org/',
      },
      {
        title: 'Python',
        description:
          'A versatile and popular high-level programming language that emphasizes readability, simplicity, and productivity, with extensive libraries and frameworks for web development.',
        icon: 'vscode-icons:file-type-python',
        url: 'https://www.python.org/',
      },
      {
        title: 'Vercel',
        description:
          'A cloud platform for serverless functions, static sites, and JAMstack applications, providing seamless integration with Git, CI/CD, and custom domains.',
        icon: 'ion:logo-vercel',
        url: 'https://vercel.com/',
      },
      {
        title: 'AWS',
        description:
          'A cloud computing platform that provides a wide range of scalable and flexible services for storage, compute, networking, and more, with robust security and reliability.',
        icon: 'mdi:aws',
        url: 'https://aws.amazon.com/',
      },
      {
        title: 'TailwindCSS',
        description:
          'A utility-first CSS framework that enables fast and responsive web design with reusable and customizable classes, reducing development time and complexity',
        icon: 'vscode-icons:file-type-tailwind',
        url: 'https://tailwindcss.com/',
      },
      {
        title: 'TypeScript',
        description:
          'A superset of JavaScript that provides static type checking, enhanced IDE support, and other features for safer and more maintainable code, ideal for large-scale projects.',
        icon: 'vscode-icons:file-type-typescript-official',
        url: 'https://www.typescriptlang.org/',
      },
      {
        title: 'OpenAI',
        description:
          'A leading artificial intelligence research organization that develops cutting-edge AI technologies and tools to advance human knowledge and solve real-world problems.',
        icon: 'simple-icons:openai',
        url: 'https://openai.com/',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="blog posts, articles, tutorials, and projects."
    information={`
      These are some of my latest blog posts, articles, tutorials, and projects. I write about web development, design, and technology. I also share my experiences and lessons learned from my projects and adventures.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Common questions about me and my work."
    highlight="FAQs"
    items={[
      [
        {
          question: `How long have you been coding?`,
          answer: `I've been coding for 9 years.`,
        },
        {
          question: `What tech was made to use this site?, and why did you choose it?`,
          answer: `Astro, TailwindCSS, and Vercel.
          I chose Astro because it's a modern static site generator that combines performance, flexibility, and simplicity. This enables me to build dynamic sites that are FAST.
          I chose TailwindCSS because it's a utility-first CSS framework that enables fast and responsive, reusable and customizable classes, reducing development time and complexity.
          I chose Vercel because it's a cloud platform for serverless functions, static sites, and JAMstack applications, providing seamless integration with Git, CI/CD, and custom domains.`,
        },

        {
          question: `I don't know technology, can I still work with you?`,
          answer: `Absolutely! As long as you have a vision, and we can work together to build it.`,
        },

        {
          question: `How ao I craate a projeat with you?`,
          answer: `If you have an idea for a product, you can contact us through our website, email, or phone. We'll schedule a meeting to discuss your idea in detail. It's helpful to have as much information as possible about your idea, but if you're not sure how to articulate it, we can guide you through the process.`,
        },
      ],
      [
        {
          question: `What do I need to know before working with you?`,
          answer: `It's essential to have a clear vision of what you want to accomplish with your software application. You should be able to answer questions like "Why do I need this software? What should it do? Who is the target user? If you don't have experience with app development, we can guide you through the process`,
        },

        {
          question: `I want to be involved in the app development process. Do you have a problem with that?`,
          answer: `Not at all! We welcome your input and feedback throughout the development process.`,
        },
        {
          question: `What happens after you finish my app?`,
          answer: `We are happy to provide technical support and app maintenance, and the source code and all technical data are at your disposal. If you need help, you can contact us anytime.`,
        },
        {
          question: `If you could only ask one question to each person you meet, what would that question be?`,
          answer: `This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.`,
        },
        {
          question: `What is your preferred technology stack?`,
          answer: `My go-to lately has actually been the T3 stack. This includes Next.js, TypeScript, Tailwind, and tRPC.`,
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Contact Me',
      href: 'mailto:engageintellect@gmail.com',
      icon: 'tabler:mail',
    }}
  >
    <Fragment slot="title">Contact Me</Fragment>

    <Fragment slot="subtitle">
      Let's talk about your project. <br class="hidden md:inline" />We'll work together to create a solution that fits
      your budget and timeline.
    </Fragment>
  </CallToAction>
</Layout>
